*~
autom4te.cache
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
Makefile
Makefile.in
ltmain.sh
missing
stamp-h1
stamp-h.in
doc/Makefile
doc/Makefile.in
src/.deps
src/Makefile
src/Makefile.in
src/*.o
src/wmbatteries
